<table id="table1" class="table table-striped table-bordered" style="width:100%">
    <thread>>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Grade</th>
         </tr>

    </thread>
</table>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section Scripts {

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(cb);
        function cb() {
            $("#table1").DataTable({
               
                "ajax": {
                    "url": "/Students/data",
                    "type": "GET",
                    "datatype": "json"

                },

                "columns": [
                    { "data": "studentId", "name": "ID", "width": "10%" },
                    { "data": "firstName", "width": "20%" },
                    { "data": "lastName", "width": "20%" },
                    { "data": "grade", "width": "10%" }

                ]



            });


        }


    </script>




}
